.root {
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    background-color: #05141f;
  }
  
  .iraqmap {
    width: 25%;
    position: absolute;
    left: 50%;
    top: 200px;
  }
  
  .caption1 {
    font-size: 50px;
    color: white;
  }
  .caption2 {
    font-size: 20px;
    color: #D9D9D9;
  }
  
  .col-caption {
    padding-top: 80px;
   
  }
  
  